.vscode/**
.vscode-test/**
projects/**/src/**
projects/**/tsconfig.json
projects/**/build.mjs
projects/server/Cargo.toml
projects/server/target/**
!target/release/novelflow_server
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
pnpm-lock.yaml
flake.nix
flake.lock
.direnv/**
Cargo.toml
.git/**
.gitignore
test-workspace/**
